<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Temple Home Page</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fauna+One&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="./assets/styles2.css" />
    </head>

    <body>
        
        <div id="title-div" style="padding-bottom: 0px; padding-top: 40px; ">
            <h1 id="title-text" style="padding-bottom: 10px; "><%= title %></h1>
        </div>

        <div id="img-overlay">
            <img src="assets/main.jpg" alt="Sai Baba" id="sai-baba-img">
        </div>

        <div id="nav-bar">

                <div>
                    <a href="/">
                        <button type="button" class="relocate">Home</button>
                    </a>
                </div>
    
                <div>
                    <a href="/about-us">
                        <button type="button" class="relocate">About Us</button>
                    </a>
                </div>
    
                <div>
                    <a href="/temple-services">
                        <button type="button" class="relocate">Temple Services</button>
                    </a>
                </div>
    
                <div>
                    <a href="/events">
                        <button type="button" class="relocate">Events</button>
                    </a>
                </div>

                <div>
                    <a href="/priests">
                        <button type="button" class="relocate">Priests</button>
                    </a>
                </div>

            <div class="dropdown">

                <button class="dropbtn">
                    <h1>Menu</h1>
                    <div class="triangle-up"></div>
                </button>

                <div class="dropdown-content">
                    <a href="/">
                        <button type="button" class="relocate">Home</button>
                    </a>
                    <a href="/about-us">
                        <button type="button" class="relocate">About Us</button>
                    </a>
                    <a href="/temple-services">
                        <button type="button" class="relocate">Temple Services</button>
                    </a>
                    <a href="/events">
                        <button type="button" class="relocate">Events</button>
                    </a>
                    <a href="/priests">
                        <button type="button" class="relocate">Priests</button>
                    </a>
                </div>

            </div>

        </div>

        <!-- this is a comment to seperate the header from the rest -->
    
        <div id="scroll">

        