<%- include('partials/header_base2.ejs', {title: "About Us"}) %>

    <div class="max-size-div">
        <div class="main-table-title"> 
            <h1>About Our Temple: </h1>
        </div>

        <div class="span-titles-opp" style="padding: 25px 20px; margin-top: 20px;"> 
            <h2 style="font-weight: 300; font-size:18px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras 
                pulvinar. Id interdum velit laoreet id donec. Etiam tempor orci eu lobortis elementum 
                nibh. Ut ornare lectus sit amet est placerat in egestas erat. Massa massa ultricies mi 
                quis hendrerit dolor. Nascetur ridiculus mus mauris vitae ultricies leo integer 
                malesuada. Massa sapien faucibus et molestie ac feugiat sed. Elementum tempus egestas 
                sed sed risus pretium quam vulputate dignissim. Aenean sed adipiscing diam donec 
                adipiscing. Hendrerit gravida rutrum quisque non tellus orci. Lacus sed turpis tincidunt 
                id. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Ultrices eros in 
                cursus turpis massa tincidunt dui ut. Feugiat in fermentum posuere urna nec tincidunt. 
                Diam sollicitudin tempor id eu nisl nunc mi.</h2>
        </div>

        <div class="main-table-title"> 
            <h1>Videos From Our Social Media</h1>
        </div>
        <div class="center-div">
            <div id="videos" style="padding: 20px 0px;">
                <video id="vid1" controls>
                    <source src="assets/temple1.mp4" type="video/mp4">
                </video>
                <video id="vid2" controls>
                    <source src="assets/temple2.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="span-titles-opp" style="margin-top: 20px;"> 
            <h1>If you want more videos, please check out our Facebook page!</h1>
            <a href="https://www.facebook.com/saitempletulsa/" target=”_blank”>
                <img src="assets/facebook.webp" alt="facebook logo image" id="facebook-img-2" style="margin: auto; padding: 20px 0px;">
            </a>
        </div>
    </div>

<%- include('partials/footer_base2.ejs') %>