<%- include('partials/header_base.ejs') %>

    <div id="title-div">
        <h1 id="title-text">About Us</h1>
    </div>

    <div id="scroll">

        <table id="events-table">

        </table>

    </div>

<%- include('partials/footer_base.ejs') %>