<%- include('partials/header_base.ejs') %>

    <div id="title-div">
        <h1 id="title-text">Contact Us</h1>
    </div>

    <div id="scroll">
        <br>
        <a href="https://www.facebook.com/saitempletulsa/" target="_blank">
            <img src="https://www.freeiconspng.com/thumbs/facebook-logo-png/photos-facebook-logo-png-transparent-background-13.png" alt="facebook logo" id="facebook-img">
        </a>
        <br>
        <table align="center" id="phone-table">
            <tr>
                <td>
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/014/440/984/small/phone-call-thin-line-icon-social-icon-set-png.png" alt="phone image" id="phone-img">
                </td>
                <td>
                    <h2 id="phone-number">(918) 928-2999</h1>
                </td>
            </tr>
        </table>

        <table align="center" id="email-table">
            <tr>
                <td>
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/021/454/517/small_2x/email-confirmation-app-icon-email-icon-free-png.png" alt="mail image" id="mail-img">
                </td>
                <td>
                    <h2 id="email">saitempletulsa@gmail.com</h1>
                </td>
            </tr>
        </table>

    </div>

<%- include('partials/footer_base.ejs') %>