<%- include('partials/header_base.ejs') %>

    <div id="title-div">
        <h1 id="title-text">Home</h1>
    </div>

    <div id="scroll">
        <div id="image-grid">
            <table id="table-imgs">
                <tr>
                    <td width="50%">
                        <img src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.6435-9/40684826_2223064911258960_2561692849531781120_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=7b2446&_nc_ohc=to9zRip2GvUQ7kNvgGPwOP2&_nc_ht=scontent-dfw5-1.xx&oh=00_AYC9icDRUznZ3aiJIv6v_ukt4T7qJiN8DStCRh0nVW1rSA&oe=66ABEF73" alt="photo" id="table-down-photo" class="table-photo">
                    </td>
                    <td width="50%">
                        <img src="https://scontent-dfw5-2.xx.fbcdn.net/v/t39.30808-6/326263441_2135547436630765_7730792325629370587_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=BYrMiBNBb4sQ7kNvgHcRMOn&_nc_ht=scontent-dfw5-2.xx&oh=00_AYBOPYW2PA5z7tAkg1mj_eKTUInqP-Uq4lqjW6g8JZgt4A&oe=668992F9" alt="photo" id="table-left-photo" class="table-photo">
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <img src="https://scontent-dfw5-1.xx.fbcdn.net/v/t39.30808-6/379686795_715729797249141_1474826710932315483_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=9rt9Z8BauuwQ7kNvgEb61eh&_nc_ht=scontent-dfw5-1.xx&oh=00_AYCjbHZAPPBL5XAMb0WD8ceUtxzrvvQTNnTBOn_4UDfOsA&oe=6689B2DC" alt="photo" id="table-right-photo" class="table-photo">
                    </td>
                    <td width="50%">
                        <img src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.6435-9/39164332_2207496199482498_5390310310122881024_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=7b2446&_nc_ohc=w4sOymDxJdkQ7kNvgECAng4&_nc_ht=scontent-dfw5-2.xx&oh=00_AYDB5ZRMVHn8LXzi86NeP9A8f1ZLgEVL1PX-mDKm89SYmQ&oe=66AC210E" alt="photo" id="table-up-photo" class="table-photo">
                    </td>
                </tr>
            </table>
        </div>
            <div id="container">
                <h1 class="header1">About Our Temple:</h1>
            </div>
    </div>

<%- include('partials/footer_base.ejs') %>