<%- include('partials/header_base2.ejs', {title: "Gitacharya Sri Sai Temple"})%>
<div class="main-flexbox">
    <div id="temple-timings" class="shadowed-box">
        <div class="main-table-title">
            <h1>
                Temple Timings
            </h1>
        </div>
        <h2 style="font-weight: 300;">
            Everyday: 
            <br>
            10:30AM - 12:30PM
            <br>
            5:30PM - 8PM
        </h2>
        <div class="main-table-title">
            <h1>
                Donate Now
            </h1>
        </div>
        <h2 style="font-weight: 300;">
            The temple serves as a beacon of peace and spirituality for many devotees. We require ongoing support for its upkeep and operational expenses to continue offering this sacred space for worship and community gatherings.
            <br>
            <br>
            We'd like to ask you to contribute, no matter how big or small. Every bit counts! ✨
            <br>
            <br>
            Donate quickly and securely through the online payment we've included below.
        </h2>
        <a href="index_copy.html">
            <button id="donate-button">
                Donate
            </button>
        </a>
        <h2 style="font-weight: 300;">
            Your generosity will help us preserve this sacred space for generations to come.
            <br>
            Jai Sai Ram!!
        </h2>
    </div>

    <div id="temple-updates" class="shadowed-box">
        <div class="main-table-title">
            <h1>
                From Our Temple
            </h1>
        </div>

        <div id="img-table">
            <div class="img-flexbox">
                <img src="assets/img8.jpg" alt="Sai Baba">
                <img src="assets/img9.jpg" alt="Sai Baba">
            </div>
            <div class="img-flexbox" id="img-flexbox2">
                <img src="assets/img6.jpg" alt="Sai Baba">
                <img src="assets/img7.jpg" alt="Sai Baba">
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer_base2.ejs') %>