<%- include('partials/header_base2.ejs', {title: "Priests"})%>
    
    <div class="max-size-div">
        <div class="main-table-title" style="margin: 0px 50px;"> 
            <h1>Our Priest:</h1>
        </div>

        <div class="priest-div" style="margin-top: 20px;">
            <div id="priest-pic" style="text-align: center;">
                <img src="assets/user-profile-icon.webp" alt="empty image">
                <h2 style="font-weight: 700; font-size: 30px; margin: 5px 0px;">
                    <b>Priest Name</b>
                </h2>
                <h2 style="font-weight: 300; font-size: 15px; margin-bottom: 30px;">
                    Priest description.
                </h2>
            </div>
        </div>
    </div>

    
<%- include('partials/footer_base2.ejs') %>