<%- include('partials/header_base.ejs') %>

    <div id="title-div">
        <h1 id="title-text">Temple Services</h1>
    </div>

    <div id="scroll">
    </div>

<%- include('partials/footer_base.ejs') %>