<%- include('partials/header_base2.ejs', {title: "Temple Services"}) %>

    <div class="max-size-div">

        <div class="shadowed-box spacedBoxes">
            <div class="main-table-title service-title"> 
                <h1>Service 1</h1>
            </div>
            <div class="main-flex service-sub-div">

                <div class="service-img-div">
                    <img class="center" src="assets/book.jpg" alt="book logo" style="width: 90px; position: absolute;">
                    <div class="circle center" style="position: absolute"></div>
                </div>

                <div class="service-description-div">
                    <h2>
                        This is the description of event number one at the temple!
                    </h2>
                </div>
            </div>

            <div class="slide-container">
                <div class="hidden-service-description">
                    <img src="assets/emptyImg.jpg" alt="empty image">
                    <h2>
                        <br>
                        Per scriptorem instructior ei, an pro virtute inimicus posidonium. Ea cum simul
                        zril dolor, quaeque utroque concludaturque ea usu. Vel cu dicit dissentiet. Ut
                        eros sonet ullamcorper est, probo paulo tacimates ea vim, ullum tollit similique
                        et per. Melius dolorem mei te, novum clita veritus an his, omnis doming eripuit 
                        in usu. Vis putant aliquam intellegam ei.
                        <br>
                        <br>
                        Ad malis inimicus democritum sed, ius eruditi consectetuer ad. Ei duo ancillae
                        signiferumque. Cu usu utamur sensibus. Nec purto dicta ex, mea et audiam 
                        honestatis, pri cu quas dolores. Quo malis erroribus cu, noluisse mediocrem et
                        sed. Vel eu omnis ullum maluisset, nullam fabellas vis ut, ad quo suas
                        assueverit complectitur.
                        <br>
                        <br>
                        Cu dicant oblique conclusionemque est, eu aeque populo pro. Amet impetus
                        percipitur pro id, amet alia complectitur cu mea, soleat putant lucilius pri et.
                        Eum at eius meis, usu solum vidisse cu, eos an facilisi suavitate. In quo soleat
                        instructior. Mea discere vulputate cu. Vim in minim iriure prompta, luptatum
                        liberavisse cu eos. Eu has dicit mucius intellegat, posse vidisse eam ex, diam
                        placerat et nam.
                        <br>
                    </h2>
                </div>
            </div>
        </div>

        <div class="shadowed-box spacedBoxes">
            <div class="main-table-title service-title"> 
                <h1>Service 2</h1>
            </div>
            <div class="main-flex service-sub-div">

                <div class="service-img-div">
                    <img class="center" src="assets/book.jpg" alt="book logo" style="width: 90px; position: absolute;">
                    <div class="circle center" style="position: absolute"></div>
                </div>

                <div class="service-description-div">
                    <h2>
                        This is the description of event number two at the temple!
                    </h2>
                </div>
            </div>

            <div class="slide-container">
                <div class="hidden-service-description">
                    <img src="assets/emptyImg.jpg" alt="empty image">
                    <h2>
                        <br>
                        Per scriptorem instructior ei, an pro virtute inimicus posidonium. Ea cum simul
                        zril dolor, quaeque utroque concludaturque ea usu. Vel cu dicit dissentiet. Ut
                        eros sonet ullamcorper est, probo paulo tacimates ea vim, ullum tollit similique
                        et per. Melius dolorem mei te, novum clita veritus an his, omnis doming eripuit 
                        in usu. Vis putant aliquam intellegam ei.
                        <br>
                        <br>
                        Ad malis inimicus democritum sed, ius eruditi consectetuer ad. Ei duo ancillae
                        signiferumque. Cu usu utamur sensibus. Nec purto dicta ex, mea et audiam 
                        honestatis, pri cu quas dolores. Quo malis erroribus cu, noluisse mediocrem et
                        sed. Vel eu omnis ullum maluisset, nullam fabellas vis ut, ad quo suas
                        assueverit complectitur.
                        <br>
                        <br>
                        Cu dicant oblique conclusionemque est, eu aeque populo pro. Amet impetus
                        percipitur pro id, amet alia complectitur cu mea, soleat putant lucilius pri et.
                        Eum at eius meis, usu solum vidisse cu, eos an facilisi suavitate. In quo soleat
                        instructior. Mea discere vulputate cu. Vim in minim iriure prompta, luptatum
                        liberavisse cu eos. Eu has dicit mucius intellegat, posse vidisse eam ex, diam
                        placerat et nam.
                        <br>
                    </h2>
                </div>
            </div>
        </div>

        <div class="shadowed-box spacedBoxes">
            <div class="main-table-title service-title"> 
                <h1>Service 3</h1>
            </div>
            <div class="main-flex service-sub-div">

                <div class="service-img-div">
                    <img class="center" src="assets/book.jpg" alt="book logo" style="width: 90px; position: absolute;">
                    <div class="circle center" style="position: absolute"></div>
                </div>

                <div class="service-description-div">
                    <h2>
                        This is the description of event number three at the temple!
                    </h2>
                </div>
            </div>

            <div class="slide-container">
                <div class="hidden-service-description">
                    <img src="assets/emptyImg.jpg" alt="empty image">
                    <h2>
                        <br>
                        Per scriptorem instructior ei, an pro virtute inimicus posidonium. Ea cum simul
                        zril dolor, quaeque utroque concludaturque ea usu. Vel cu dicit dissentiet. Ut
                        eros sonet ullamcorper est, probo paulo tacimates ea vim, ullum tollit similique
                        et per. Melius dolorem mei te, novum clita veritus an his, omnis doming eripuit 
                        in usu. Vis putant aliquam intellegam ei.
                        <br>
                        <br>
                        Ad malis inimicus democritum sed, ius eruditi consectetuer ad. Ei duo ancillae
                        signiferumque. Cu usu utamur sensibus. Nec purto dicta ex, mea et audiam 
                        honestatis, pri cu quas dolores. Quo malis erroribus cu, noluisse mediocrem et
                        sed. Vel eu omnis ullum maluisset, nullam fabellas vis ut, ad quo suas
                        assueverit complectitur.
                        <br>
                        <br>
                        Cu dicant oblique conclusionemque est, eu aeque populo pro. Amet impetus
                        percipitur pro id, amet alia complectitur cu mea, soleat putant lucilius pri et.
                        Eum at eius meis, usu solum vidisse cu, eos an facilisi suavitate. In quo soleat
                        instructior. Mea discere vulputate cu. Vim in minim iriure prompta, luptatum
                        liberavisse cu eos. Eu has dicit mucius intellegat, posse vidisse eam ex, diam
                        placerat et nam.
                        <br>
                    </h2>
                </div>
            </div>
        </div>

        <div class="shadowed-box spacedBoxes">
            <div class="main-table-title service-title"> 
                <h1>Service 4</h1>
            </div>
            <div class="main-flex service-sub-div">

                <div class="service-img-div">
                    <img class="center" src="assets/book.jpg" alt="book logo" style="width: 90px; position: absolute;">
                    <div class="circle center" style="position: absolute"></div>
                </div>

                <div class="service-description-div">
                    <h2>
                        This is the description of event number four at the temple!
                    </h2>
                </div>
            </div>

            <div class="slide-container">
                <div class="hidden-service-description">
                    <img src="assets/emptyImg.jpg" alt="empty image">
                    <h2>
                        <br>
                        Per scriptorem instructior ei, an pro virtute inimicus posidonium. Ea cum simul
                        zril dolor, quaeque utroque concludaturque ea usu. Vel cu dicit dissentiet. Ut
                        eros sonet ullamcorper est, probo paulo tacimates ea vim, ullum tollit similique
                        et per. Melius dolorem mei te, novum clita veritus an his, omnis doming eripuit 
                        in usu. Vis putant aliquam intellegam ei.
                        <br>
                        <br>
                        Ad malis inimicus democritum sed, ius eruditi consectetuer ad. Ei duo ancillae
                        signiferumque. Cu usu utamur sensibus. Nec purto dicta ex, mea et audiam 
                        honestatis, pri cu quas dolores. Quo malis erroribus cu, noluisse mediocrem et
                        sed. Vel eu omnis ullum maluisset, nullam fabellas vis ut, ad quo suas
                        assueverit complectitur.
                        <br>
                        <br>
                        Cu dicant oblique conclusionemque est, eu aeque populo pro. Amet impetus
                        percipitur pro id, amet alia complectitur cu mea, soleat putant lucilius pri et.
                        Eum at eius meis, usu solum vidisse cu, eos an facilisi suavitate. In quo soleat
                        instructior. Mea discere vulputate cu. Vim in minim iriure prompta, luptatum
                        liberavisse cu eos. Eu has dicit mucius intellegat, posse vidisse eam ex, diam
                        placerat et nam.
                        <br>
                    </h2>
                </div>
            </div>
        </div>

        <div class="shadowed-box spacedBoxes">
            <div class="main-table-title service-title"> 
                <h1>Service 5</h1>
            </div>
            <div class="main-flex service-sub-div">

                <div class="service-img-div">
                    <img class="center" src="assets/book.jpg" alt="book logo" style="width: 90px; position: absolute;">
                    <div class="circle center" style="position: absolute"></div>
                </div>

                <div class="service-description-div">
                    <h2>
                        This is the description of event number five at the temple!
                    </h2>
                </div>
            </div>

            <div class="slide-container">
                <div class="hidden-service-description">
                    <img src="assets/emptyImg.jpg" alt="empty image">
                    <h2>
                        <br>
                        Per scriptorem instructior ei, an pro virtute inimicus posidonium. Ea cum simul
                        zril dolor, quaeque utroque concludaturque ea usu. Vel cu dicit dissentiet. Ut
                        eros sonet ullamcorper est, probo paulo tacimates ea vim, ullum tollit similique
                        et per. Melius dolorem mei te, novum clita veritus an his, omnis doming eripuit 
                        in usu. Vis putant aliquam intellegam ei.
                        <br>
                        <br>
                        Ad malis inimicus democritum sed, ius eruditi consectetuer ad. Ei duo ancillae
                        signiferumque. Cu usu utamur sensibus. Nec purto dicta ex, mea et audiam 
                        honestatis, pri cu quas dolores. Quo malis erroribus cu, noluisse mediocrem et
                        sed. Vel eu omnis ullum maluisset, nullam fabellas vis ut, ad quo suas
                        assueverit complectitur.
                        <br>
                        <br>
                        Cu dicant oblique conclusionemque est, eu aeque populo pro. Amet impetus
                        percipitur pro id, amet alia complectitur cu mea, soleat putant lucilius pri et.
                        Eum at eius meis, usu solum vidisse cu, eos an facilisi suavitate. In quo soleat
                        instructior. Mea discere vulputate cu. Vim in minim iriure prompta, luptatum
                        liberavisse cu eos. Eu has dicit mucius intellegat, posse vidisse eam ex, diam
                        placerat et nam.
                        <br>
                    </h2>
                </div>
            </div>
        </div>

    </div>

<%- include('partials/footer_base2.ejs') %>